/* FONTS */
$font-logo : 'CaslonGraphique';

// Font weights, according to Mozilla's recommendations :
$font-weight-light    : 300;
$font-weight-regular  : 400;
$font-weight-medium   : 500;
$font-weight-bold     : 700;

//Font sizes
$font-size-50: 50px;
$font-size-30: 30px;
$font-size-25: 25px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-15: 15px;

/* COLORS */
$black: #010101;
$white: #FFFFFF;

/* MARGIN */
$margin-100: 100px;
$margin-50: 50px;
$margin-30: 30px;
$margin-20: 20px;
$margin-10: 10px;