body {
  background-color: $white;
  font-family: "Gotham Book";

  section {
    margin: $margin-50 0;

    h2.section-title {
      text-align: center;
      font-size: $font-size-50;
      font-weight: $font-weight-bold;
      margin: 0 $margin-20;
    }

    h3 {
      text-align: center;
      margin: $margin-10 0;
      font-size: $font-size-30;
    }
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: $font-size-15;
    section {
      h2.section-title {
        font-size: $font-size-30;
      }

      h3 {
        font-size: $font-size-25;
      }
    }
  }
}